<% include ../partials/header %>

<div class="container form-container">
  <form action="/blogs/<%= blog._id %>?_method=PUT" method="POST">
    <div class="form-group">
      <label><h4>Blog title</h4></label>
      <input class="form-control" type="text" name="blog[title]" value="<%= blog.title %>">
    </div>
    <div class="form-group">
      <label><h4>Author</h4></label>
      <input class="form-control" type="text" name="blog[author]" value="<%= blog.author %>">
    </div>
    <div class="form-group">
      <label><h4>Image</h4></label>
      <input class="form-control" type="text" name="blog[image]" value="<%= blog.image %>">
    </div>
    <div class="form-group">
      <label><h4>Blog Post</h4></label>
      <textarea class="form-control" name="blog[body]"><%= blog.body %></textarea>
    </div>
    <button class="btn btn-success" type="submit" name="submit">Submit</button>
  </form>
</div>

<% include ../partials/footer %>
